@font-face {
	font-family: 'BeVietnamPro-SemiBold';
	src: url('/fonts/BeVietnamPro-SemiBold.woff') format('woff');
			 font-weight: 600;
			 font-display: swap;
			 font-style: normal;
}
@font-face {
	font-family: 'BeVietnamPro-Medium';
	src: url('/fonts/BeVietnamPro-Medium.woff') format('woff');
			 font-weight: 500;
			 font-display: swap;
			 font-style: normal;
}
@font-face {
	font-family: 'NeutrifPro-SemiBold';
	src: url('/fonts/NeutrifPro-SemiBold.woff') format('woff');
			 font-weight: 600;
			 font-display: swap;
			 font-style: normal;
}
@font-face {
	font-family: 'NeutrifPro-Regular';
	src: url('/fonts/NeutrifPro-Regular.woff') format('woff');
			 font-weight: 400;
			 font-display: swap;
			 font-style: normal;
}
